* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top left, #28b487, #7dd56f);
  height: 100vh;
}

.model-section {
  text-align: center;
}
.button-model {
  padding: 1.2rem 2.4rem;
  border-radius: 2.5rem;
  background-color: white;
  border: none;
  font-size: 1.8rem;
  color: #858282;
  font-weight: 600;
  margin: 4.8rem 2.4rem;
}
/* .dialog {
  display: flex;
  justify-content: center;
  align-items: center;
} */
dialog {
  padding: 4.8rem;
  border: none;
  border-radius: 12px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.model-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
.model-header-text {
  font-size: 2.4rem;
}
.model-close {
  height: 3.2rem;
  width: 3.2rem;
  font-size: 2.4rem;
  /* color: black;
  stroke: azure;
  fill: azure; */
}
.model-body-text {
  font-size: 1.8rem;
}
